@{
    ViewData["Title"] = "Edit Meal Plan";
}
@model MyViewModel
<h2>@Model.MealPlan.Name Weekly Meal Plan</h2>
<form action="update" method="post" id="editMealForm">
    <label for="Name"></label>
    <input name="Name" value="@Model.MealPlan.Name">
    @if(@Model.MealPlan.Favorite){
        <input id="Favorite" name="Favorite" type="checkbox" value="true" checked>
    }
    else{
        <input id="Favorite" name="Favorite" type="checkbox" value="true">
    }
    <input type="hidden" value="false" name="Favorite">
    <label for="Favorite">Favorite?</label>
</form>

<div class="d-flex flex-row justify-content-around">
    <div class="d-flex flex-column m-2">
        <label>Monday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 1){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal1" onclick="">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Tuesday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 2){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal2">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Wednesday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 3){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal3">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Thursday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 4){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal4">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Friday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 5){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal5">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Saturday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 6){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                            </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal6">
            Add Meal
        </button>
    </div>
    <div class="d-flex flex-column m-2">
        <label>Sunday</label>
        <div class="containter">
            <ul class="list-group">
                @foreach(Meal m in Model.AllMeals){
                    if(@m.Weekday == 7){
                        <li class="list-group-item  list-group-item-action d-flex flex-row justify-content-between">
                            @m.Recipe.Name
                            <form action="/meal/@m.ID/delete" method="post" class="">
                                <button type="submit"class="btn p-0 m-0"style="background-color:transparent">&times;</button>
                        </form>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addMeal7">
            Add Meal
        </button>
        
    </div>
</div>

<button type="submit" form="editMealForm" value="Submit">Save Meal Plan</button>
<form action="delete" method="post"><button class="btn btn-danger">Delete</button></form>

<!-- Monday Modal -->
<div class="modal fade" id="addMeal1" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.M) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Tuesday Modal -->
<div class="modal fade" id="addMeal2" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.T) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Wednesday Modal -->
<div class="modal fade" id="addMeal3" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.W) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Thursday Modal -->
<div class="modal fade" id="addMeal4" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.Th) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Friday Modal -->
<div class="modal fade" id="addMeal5" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.F) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Saturday Modal -->
<div class="modal fade" id="addMeal6" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.Sa) 
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>

<!-- Sunday Modal -->
<div class="modal fade" id="addMeal7" tabindex="-1" role="dialog" aria-labelledby="addMealTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            @Model.SetDoW(@ViewBag.Su)            
            @await Html.PartialAsync("../Meal/_AddMeal.cshtml", Model)
        </div>
    </div>
</div>